.our-team {
    background-color: $colorturbid;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    display: block;
    background: $colorturbid;
}

.team-title {
    color: $colorsemyblack;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.team-ul {
    display: flex;
}

.team-li:not(:last-child) {
    margin-right: 30px;
}

.team-li {
    background-color: $color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-name {
    color: $colorsemyblack;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.team-position {
    color: $colorgray;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
